doctype html
html
  - const pageTitle = "Changelog"
  include includes/head.pug
  body
    include includes/navbar.pug

    div.container
      h1.text-center= pageTitle
      hr

      each commit in commits
        .card.mt-3
          .card-body
            h5.card-title= commit.subject
            p.card-text= `Commit: ${commit.abbrevHash} | Author: ${commit.authorName} | Date: ${commit.authorDateRel}`
      
    include includes/scripts.pug
