doctype html
html
  include includes/head.pug
  body 
    include includes/navbar.pug

    style.
      @media (max-width: 975px) {
        #imageCarousel {
          display: none;
        }
      }

    // Image Carousel Background
    #imageCarousel.carousel.slide(data-ride='carousel', style='position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: -1;')
      .carousel-inner

    // Main Content
    div.container.mt-4(style='position: relative; z-index: 1;')
      if !username
        .alert.alert-success
          p Registration is open! Join us now and be part of the Minecraft mapart community.
      else
        .alert.alert-info
          h4 Welcome back, #{username}!
          if admin || mod
            h6 Notes for moderators and admins
            p New moderation helper tool for gathering 
              a(href="/mapart/missingInfo") missing metadata
            
      .jumbotron.text-center
        if logo
          img(src=logo)
        img(src='/public/largeicon.png')
        if !server
          h1.display-4 Welcome to the Mapart Index!
          p.lead
            | The #1 Minecraft mapart archive
            span
              a.nav-link(href="https://discord.gg/4qKFjbUFuZ")
                | Join our discord!
            span
              a.nav-link(href="/about")
                | About
            span
              a.nav-link(href="/changelog")
                | Changelog
        else 
          h1.display-4 Welcome to the #{displayName} Mapart Index!
          p.lead
            | A collection hosted by the Mapart Index
            if discord
              span
                a.nav-link(href=discord)
                  | Join the #{displayName} Mapart discord!
            span
              a.nav-link(href="https://discord.gg/4qKFjbUFuZ")
                | Join the Mapart Index discord!
            span
              a.nav-link(href="/about")
                | About
            span
              a.nav-link(href="/changelog")
                | Changelog

      // Stats Section
      .row.justify-content-center
        if totalMaps
          .col-md-3.mb-3
            .card.border-primary.text-center
              .card-header Total Maps
              .card-body.text-primary
                h5.card-title #{totalMaps}
        if totalMaparts
          .col-md-3.mb-3
            .card.border-primary.text-center
              .card-header Total Maparts
              .card-body.text-primary
                h5.card-title #{totalMaparts}
        if totalServers
          .col-md-3.mb-3
            .card.border-primary.text-center
              .card-header Total Servers
              .card-body.text-primary
                h5.card-title #{totalServers}
      .row.justify-content-center
        .col-md-3.mb-3
          .card.border-success.text-center
            .card-header Total Visits
            .card-body.text-success
              h5.card-title #{totalVisits ? `${totalVisits}` : "0"}
        .col-md-3.mb-3
          .card.border-success.text-center
            .card-header Daily Visits
            .card-body.text-success
              h5.card-title #{dailyVisits ? `${dailyVisits}` : "0"}
        .col-md-3.mb-3
          .card.border-success.text-center
            .card-header Total Users
            .card-body.text-success
              h5.card-title #{totalUsers ? `${totalUsers}` : "0"}
        .col-md-3.mb-3
          .card.border-success.text-center
            .card-header Daily Users
            .card-body.text-success
              h5.card-title #{dailyUsers ? `${dailyUsers}` : "0"}
      if !server
        .jumbotron.text-center
          h1.display-4 Partnered Servers
          br
          .row.justify-content-center
            .col-md-3.mb-3
              .card.border-primary.text-center
                .card-header
                  h3
                    a.nav-link(href="https://2b2t.mapartindex.com/")
                      | 2b2t
                .card-body.text-primary
                  a.nav-link(href="https://discord.com/invite/r7Tuerq")
                    | discord
            .col-md-3.mb-3
              .card.border-primary.text-center
                .card-header
                  h3
                    a.nav-link(href="https://0b0t.mapartindex.com/")
                      | 0b0t
                .card-body.text-primary
                  a.nav-link(href="https://discord.com/invite/dyhkncv")
                    | discord
            .col-md-3.mb-3
              .card.border-primary.text-center
                .card-header
                  h3
                    a.nav-link(href="https://minewind.mapartindex.com/")
                      | Minewind
                .card-body.text-primary
                  a.nav-link(href="https://discord.com/invite/TpexN38gG5")
                    | discord
            .col-md-3.mb-3
              .card.border-primary.text-center
                .card-header
                  h3
                    a.nav-link(href="https://og-network.mapartindex.com/")
                      | OG Network
                .card-body.text-primary
                  a.nav-link(href="https://discord.com/invite/6uFtA4KXHn")
                    | discord
            .col-md-3.mb-3
              .card.border-primary.text-center
                .card-header
                  h3
                    a.nav-link(href="https://3b3france.mapartindex.com/")
                      | 3b3france
                .card-body.text-primary
                  a.nav-link(href="https://discord.gg/YHbCQxn7ev")
                    | discord
            .col-md-3.mb-3
              .card.border-primary.text-center
                .card-header
                  h3
                    a.nav-link(href="https://2b2fr.mapartindex.com/")
                      | 2b2fr
                .card-body.text-primary
                  a.nav-link(href="https://discord.gg/YHbCQxn7ev")
                    | discord

    // include includes/footer.pug
    script(src='/public/js/index-page.js')
    include includes/scripts.pug
