doctype html
html
  include includes/head.pug
  body 
    include includes/navbar.pug

    style.
      @media (max-width: 767px) {
        #imageCarousel {
          display: none;
        }
      }

    // Image Carousel Background
    #imageCarousel.carousel.slide(data-ride='carousel', style='position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: -1;')
      .carousel-inner

    // Main Content
    div.container.mt-4(style='position: relative; z-index: 1;')
      if !username
        .alert.alert-success
          p Registration is open! Join us now and be part of the Minecraft mapart community.
      else
        .alert.alert-info
          p Welcome back, #{username}!
          p.small Your userId is #{userId}
          
      .jumbotron.text-center
        h1.display-4 Welcome to the Mapart Index!
        p.lead
          | The #1 Minecraft mapart archive
          a(href="https://discord.gg/4qKFjbUFuZ")
            | Join our discord!
          a.nav-link(href="/about")
            | About
          a.nav-link(href="/changelog")
            | Changelog

      // Stats Section
      if totalMaps && totalMaparts && totalUsers 
        .row.justify-content-center
          .col-md-3
            .card.border-primary.mb-3(style='max-width: 18rem;').text-center
              .card-header Total Maps
              .card-body.text-primary
                h5.card-title #{totalMaps}
          .col-md-3
            .card.border-primary.mb-3(style='max-width: 18rem;').text-center
              .card-header Total Maparts
              .card-body.text-primary
                h5.card-title #{totalMaparts}
          .col-md-3
            .card.border-success.mb-3(style='max-width: 18rem;').text-center
              .card-header Total Users
              .card-body.text-success
                h5.card-title #{totalUsers}
          .col-md-3
            .card.border-success.mb-3(style='max-width: 18rem;').text-center
              .card-header Total Servers
              .card-body.text-success
                h5.card-title #{totalServers}

    // include includes/footer.pug
    script(src='/public/js/index-page.js')
    include includes/scripts.pug
