doctype html
html
  include includes/head.pug
  body
    include includes/navbar.pug

    div.container
      h1.text-center= pageTitle
      hr
      if allMaps.length > 0
        ul(style="list-style: none; padding: 0; display: flex; flex-wrap: wrap;")
          each map in allMaps
            li(style="width: 25%; padding: 10px; box-sizing: border-box; text-align: center;")
              p Map ID: #{map.id}
              img(src="/public/uploads/" + map.imgUrl, alt=map.id, style="max-width: 100%; height: auto; border: 1px solid #ddd; border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);")
              // map.creatorId, map.createdAt, etc. can be added

        // Bootstrap Pagination
        nav
          ul.pagination.justify-content-center
            li.page-item(class=currentPage === 1 ? 'disabled' : '')
              a.page-link(href=`/latest?page=${currentPage - 1}`) Previous

            for page in Array(totalPages).fill().map((_, i) => i + 1)
              li.page-item(class=currentPage === page ? 'active' : '')
                a.page-link(href=`/latest?page=${page}`)= page

            li.page-item(class=currentPage === totalPages ? 'disabled' : '')
              a.page-link(href=`/latest?page=${currentPage + 1}`) Next

      else
        p No maps available

script.
  var totalPages = #{totalPages};
  var currentPage = #{currentPage};
