doctype html
html
  include includes/head.pug
  body
    include includes/navbar.pug

    .container
      h1.text-center Maps Missing Information
      hr
      if !admin && !mod
        div.alert.alert-danger(role="alert")
          | You are not an administrator or a moderator
      else 
        form(method='get', action='/mapart/missingInfo')
          .form-group.text-center
            label.sr-only(for='missingType') Filter by missing info type:
            .input-group.mb-2.mr-sm-2
              .input-group-prepend
                .input-group-text Type
              select#missingType.form-control(name='type')
                option(value='all') All
                option(value='artist') Artist
                option(value='description') Description
                option(value='tags') Tags
              .input-group-append
                button.btn.btn-primary(type='submit') Filter

          script.
            document.addEventListener('DOMContentLoaded', function () {
              // Function to get query parameters by name
              function getQueryParam(name) {
                name = name.replace(/[\[\]]/g, '\\$&');
                var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                    results = regex.exec(window.location.href);
                if (!results) return null;
                if (!results[2]) return '';
                return decodeURIComponent(results[2].replace(/\+/g, ' '));
              }
              
              // Get the 'type' query parameter
              var type = getQueryParam('type');
              
              // Set the select element's value
              if (type) {
                var selectElement = document.getElementById('missingType');
                selectElement.value = type;
              }
            });

        if missingInfo.length
          .row
            each map in missingInfo
              .col-md-4
                .card.mb-4.box-shadow
                  img.card-img-top(src=`/public/uploads/mapart/${map.imgUrl}`, alt=`Image for ${map.name || 'Unnamed Map'}`)
                  .card-body
                    h5.card-title #{map.name || 'No Name'}
                    p.card-text Description: #{map.description || 'N/A'}
                    p.card-text Tags: #{map.tags && map.tags.length ? map.tags.join(', ') : 'No Tags'}
                    div.d-flex.justify-content-between.align-items-center
                      div.btn-group
                        a.btn.btn-sm.btn-outline-secondary(href=`/mapart/id/${map.id}`) View
                        if admin || mod
                          a.btn.btn-sm.btn-outline-secondary(href=`/mapart/edit/${map.id}`) Edit
                      small.text-muted #{new Date(map.createdAt).toLocaleDateString()}
        else
          .alert.alert-warning Maps with complete info or no records found.

    include includes/scripts.pug
