doctype html
html
  - const pageTitle = "MapArt"
  include includes/head.pug
  body
    include includes/navbar.pug

    div.container
      if admin
        button.btn.btn-primary.btn-edit.float-right(type='button', onclick=`location.href='/mapart-edit/${map.id}'`)
          i.fas.fa-edit
          |  Edit Metadata

      h1.text-center= pageTitle
      hr
      if map
        div.text-center
          p Map ID: #{ map.id }
          img(src=`/public/uploads/${ map.imgUrl }`, alt=map.id, style="max-width: 100%; height: auto; border: 1px solid #ddd; border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);")
          br
          br
          p Artist: #{ map.artist || 'N/A' }
          p Uploaded By: #{ map.username }
          p NSFW: #{ map.nsfw }
          p Date Uploaded: #{ map.createdAt ? map.createdAt.toLocaleString('en-US', { year: 'numeric', month: '2-digit', day: '2-digit', hour: 'numeric', minute: 'numeric', hour12: true }) : 'Unknown' }
      else
        p Map not found
