doctype html
html
  - const pageTitle = "Map Art: " + mapId
  include includes/head.pug
  body
    include includes/navbar.pug
    div.container
      h1.text-center Map Art
      hr

      div#mapContainer.text-center
        i#loadingSpinner.fa.fa-spinner.fa-spin.fa-3x
        p Loading map data...

      script(src="https://code.jquery.com/jquery-3.6.0.min.js")
      script.
        document.addEventListener('DOMContentLoaded', () => {
          const mapId = `#{mapId}`;
          const userId = `#{userId}`;
          const mapContainer = document.getElementById('mapContainer');

          fetch(`/api/mapArt/${mapId}`)
            .then(response => {
              if (!response.ok) {
                throw new Error(response.statusText);
              }
              return response.json();
            })
            .then(map => {
              if (map) {
                const imageUrl = `/public/uploads/mapart/${map.imgUrl}`;
                const dateUploaded = map.createdAt ? new Date(map.createdAt).toLocaleString('en-US', {
                  year: 'numeric',
                  month: '2-digit',
                  day: '2-digit',
                  hour: 'numeric',
                  minute: 'numeric',
                  hour12: true
                }) : 'Unknown';

                // Check if showNSFW cookie is true
                const showNSFW = getCookie('showNSFW');

                const mapContent = document.createElement('div');
                const mapInfo = document.createElement('div');
                mapInfo.innerHTML = `
                  <div class="jumbotron">
                    <div class="row">
                      <div class="col-md-8">
                        <img src="${imageUrl}" alt="${mapId}" class="pixelated-image img-fluid ${showNSFW === 'true' ? '' : (map.nsfw ? 'blurred' : '')}" style="width: 80%; max-width: none; height: auto; border: 1px solid #ddd; border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); image-rendering: pixelated;">
                      </div>
                      <div class="col-md-4">
                        ${map.name ? `<h2>${map.name}</h2>` : ''}
                        <h5>${map.displayName}</h5>
                        <br> 
                        <ul class="list-group">
                          <li class="list-group-item">Artist: ${
                            map.artist
                              ? map.artist.split(',')
                                .map(artist => artist.trim())
                                .filter(artist => artist.length > 0)
                                .map(artist => `<a href="/search?query=${artist}">${artist}</a>`)
                                .join(', ')
                              : 'N/A'
                          }</li>
                          <li class="list-group-item">Description: ${map.description || 'N/A'}</li>
                          <li class="list-group-item">Size: ${map.size} (${map.width} x ${map.height})</li>
                          ${map.tags && map.tags[0] !== "" ? `<li class="list-group-item">Tags: ${map.tags.map(tag => `<a href="/search?query=${tag}"><span class="badge badge-secondary">${tag}</span></a>`).join(' ')}</li>` : ''}
                          <li class="list-group-item">Uploader: <a href="/profile/user/${map.username}">${map.username}</a></li>
                          <li class="list-group-item">Uploaded: ${dateUploaded}</li>
                          <li class="list-group-item">NSFW: ${map.nsfw}</li>
                          <li class="list-group-item">Views: ${map.views}</li>
                          <li class="list-group-item">Likes: ${map.likes}</li>
                        </ul>
                        <br> 
                        <h5><a href="javascript:void(0);" onclick="history.back()">Back</a></h5>
                      </div>
                    </div>
                  </div>`;
                mapContent.appendChild(mapInfo);
                mapContainer.innerHTML = ''; // Clear existing.
                mapContainer.appendChild(mapContent);
              } else {
                mapContainer.innerHTML = '<div class="alert alert-danger" role="alert">MapArt not found!</div>';
              }
            })
            .catch(error => {
              console.error('Error fetching data:', error);
              mapContainer.innerHTML = '<div class="alert alert-danger" role="alert">Error fetching data: ' + error.message + '</div>';
            });


          function handleFavorite(mapId, action) {
            fetch(`/mapart/favorite/${mapId}`, {
              method: action === 'add' ? 'POST' : 'DELETE',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({ userId: userId }),
            })
            .then(response => {
              if (!response.ok) {
                throw new Error('Failed to perform action');
              }
              return response.json();
            })
            .then(data => {
              console.log(data);
            })
            .catch(error => {
              console.error('Error:', error);
            });
          }

          // Function to get cookie value by name
          function getCookie(name) {
            const cookies = document.cookie.split(';');
            for (let cookie of cookies) {
              const [cookieName, cookieValue] = cookie.split('=');
              if (cookieName.trim() === name) {
                return cookieValue;
              }
            }
            return '';
          }
        });

      if admin || mod
        div.text-center
          a.btn.btn-primary(href=`/mapart/edit/${mapId}`) Visit Map Edit Page

      include includes/scripts.pug
