doctype html
html
  include includes/head.pug
  body
    include includes/navbar.pug

    .container
      h1.text-center Maps Missing Information
      hr
      if missingInfo.length
        .row
          each map in missingInfo
            .col-md-4
              .card.mb-4.box-shadow
                img.card-img-top(src=`/public/uploads/mapart/${map.imgUrl}`, alt=`Image for ${map.name || 'Unnamed Map'}`)
                .card-body
                  h5.card-title #{map.name || 'No Name'}
                  p.card-text Description: #{map.description || 'N/A'}
                  p.card-text Tags: #{map.tags && map.tags.length ? map.tags.join(', ') : 'No Tags'}
                  div.d-flex.justify-content-between.align-items-center
                    div.btn-group
                      a.btn.btn-sm.btn-outline-secondary(href=`/mapart/id/${map.id}`) View
                      if admin || mod
                        a.btn.btn-sm.btn-outline-secondary(href=`/mapart/edit/${map.id}`) Edit
                    small.text-muted #{new Date(map.createdAt).toLocaleDateString()}
      else
        .alert.alert-warning Maps with complete info or no records found.

    include includes/scripts.pug
