doctype html
html
  include includes/head.pug
  body
    include includes/navbar.pug

    div.container
      h1.text-center= pageTitle
      hr
      if !admin && !mod
        div.alert.alert-danger(role="alert")
          | You are not an administrator or a moderator
      else
        div.row
          div.col-md-8.offset-md-2.text-center
            form#editForm.text-center

              div.mb-3.form-group(data-toggle='tooltip', title='Artist')
                div.input-group
                  div.input-group-prepend
                    span.input-group-text.icon-prepend(data-toggle='tooltip', title='Artist')
                      i.fas.fa-paint-brush
                  input#artist.form-control(type='text', name='artist', value=map.artist, placeholder='Artist')

              div.mb-3.form-group(data-toggle='tooltip', title='Uploader')
                div.input-group
                  div.input-group-prepend
                    span.input-group-text.icon-prepend(data-toggle='tooltip', title='Uploader')
                      i.fas.fa-upload
                  input#user.form-control(type='text', name='user', value=map.username, readonly, placeholder='Uploader')

              div.mb-3.form-group(data-toggle='tooltip', title='NSFW')
                div.input-group
                  label.fancy-checkbox
                    input#nsfw.form-check-input(type='checkbox', name='nsfw', checked=map.nsfw)
                    i.fas.fa-fw.fa-check-square.checked
                    i.fas.fa-fw.fa-square.unchecked
                    | NSFW

              // Submit button
              button#saveBtn.btn.btn-primary(type='button') Save Changes

            .alert.alert-success#successMessage(style='text-align: center; display: none; margin-top: 10px;')
            .alert.alert-danger#errorMessage(style='text-align: center; display: none; margin-top: 10px;')

      style.
        .icon-prepend {
          width: 40px;
        }

        .label-text {
          width: 90px;
          display: flex;
          /* padding-left: 10px; *//* Adjust spacing between icon and text */
        }

        .mb-3 {
          margin-bottom: 1rem;
        }

        .fancy-checkbox input[type="checkbox"],
        .fancy-checkbox .checked {
          display: none;
        }

        .fancy-checkbox input[type="checkbox"]:checked ~ .checked {
          display: inline-block;
        }

        .fancy-checkbox input[type="checkbox"]:checked ~ .unchecked {
          display: none;
        }

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script.
      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
      });

      function saveChanges() {
          var artist = document.getElementById('artist').value;
          var nsfw = document.getElementById('nsfw').checked;
          var user = document.getElementById('user').value;

          var formData = new FormData();
          formData.append('artist', artist);
          formData.append('nsfw', nsfw);

          // Get mapId from the current URL
          var url = window.location.href;
          var mapId = url.substring(url.lastIndexOf('/') + 1);

          var xhr = new XMLHttpRequest();
          xhr.open('POST', `/mapid/edit/${mapId}`, true);
          xhr.onreadystatechange = function () {
              if (xhr.readyState === XMLHttpRequest.DONE) {
                  if (xhr.status === 200) {
                      // Show success message
                      var successMessage = document.getElementById('successMessage');
                      successMessage.style.display = 'block';
                      successMessage.innerText = 'Changes saved successfully';

                      // Hide error message if it's shown
                      var errorMessage = document.getElementById('errorMessage');
                      errorMessage.style.display = 'none';
                  } else {
                      // Show error message
                      var errorMessage = document.getElementById('errorMessage');
                      errorMessage.style.display = 'block';
                      errorMessage.innerText = 'Failed to save changes. Please try again.';

                      // Hide success message if it's shown
                      var successMessage = document.getElementById('successMessage');
                      successMessage.style.display = 'none';
                  }
              }
          };
          xhr.send(formData);
      }

      document.getElementById('saveBtn').addEventListener('click', saveChanges);
      
    include includes/scripts.pug
