doctype html
html(lang="en")
  include includes/head.pug
  body
    include includes/navbar.pug
    div.container.d-flex.align-items-center.justify-content-center
      div.col-md-8
        h1.text-center= pageTitle
        if !admin && !mod
          div.alert.alert-danger(role="alert")
            | You are not an administrator or a moderator
        else
          if mapId
            div.alert.alert-warning.text-center(role="alert")
              p Are you sure you want to delete the file with
              p Map ID: #{mapId}?
              p Name: #{map.displayName}

            div.text-center
              img(src=`/public/uploads/${map.imgUrl}`)
            br
            div.text-center
              form(action="/mapid/delete" method="POST")
                input(type="hidden" name="mapId" value=mapId)
                button.btn.btn-danger(type="submit") Confirm Deletion
          else
            div.alert.alert-info(role="alert")
              p No mapId provided.

    include includes/scripts.pug

