doctype html
html
  - const pageTitle = "Map: " + mapId
  include includes/head.pug
  body
    include includes/navbar.pug
    div.container
      h1.text-center Map
      hr

      div#mapContainer.text-center
        i#loadingSpinner.fa.fa-spinner.fa-spin.fa-3x
        p Loading map data...

      script(src="https://code.jquery.com/jquery-3.6.0.min.js")
      script.
        document.addEventListener('DOMContentLoaded', () => {
          const mapId = `#{mapId}`;
          const mapContainer = document.getElementById('mapContainer');

          fetch(`/api/mapId/id/${mapId}`)
            .then(response => {
              if (!response.ok) {
                throw new Error(response.statusText);
              }
              return response.json();
            })
            .then(map => {
              if (map) {
                const imageUrl = `/public/uploads/${map.imgUrl}`;
                const dateUploaded = map.createdAt ? new Date(map.createdAt).toLocaleString('en-US', {
                  year: 'numeric',
                  month: '2-digit',
                  day: '2-digit',
                  hour: 'numeric',
                  minute: 'numeric',
                  hour12: true
                }) : 'Unknown';

                const mapContent = document.createElement('div');
                const mapInfo = document.createElement('div');
                mapInfo.innerHTML = `
                  <div class="jumbotron">
                    <div class="row">
                      <div class="col-md-8">
                        <img src="${imageUrl}" alt="${mapId}" class="pixelated-image img-fluid" style="width: 80%; max-width: none; height: auto; border: 1px solid #ddd; border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); image-rendering: pixelated;">
                      </div>
                      <div class="col-md-4">
                        <h3>${map.displayName}</h3>
                        <br> 
                        <ul class="list-group">
                          <li class="list-group-item">Artist: ${map.artist || 'N/A'}</li>
                          <li class="list-group-item">Description: ${map.description || 'N/A'}</li>
                          <li class="list-group-item">Uploader: <a href="/profile/user/${map.username}">${map.username}</a></li>
                          <li class="list-group-item">Uploaded: ${dateUploaded}</li>
                          <li class="list-group-item">NSFW: ${map.nsfw}</li>
                          <li class="list-group-item">Views: ${map.views}</li>
                        </ul>
                        <br> 
                        <h5><a href="javascript:void(0);" onclick="history.back()">Back</a></h5>
                      </div>
                    </div>
                  </div>`;
                mapContent.appendChild(mapInfo);
                mapContainer.innerHTML = ''; // Clear existing.
                mapContainer.appendChild(mapContent);
              } else {
                mapContainer.innerHTML = '<div class="alert alert-danger" role="alert">MapArt not found!</div>';
              }
            })
            .catch(error => {
              console.error('Error fetching data:', error);
              mapContainer.innerHTML = '<div class="alert alert-danger" role="alert">Error fetching data: ' + error.message + '</div>';
            });

        });

      if admin || mod
        div.text-center
          a.btn.btn-primary(href=`/mapid/edit/${mapId}`) Visit Map Edit Page


      include includes/scripts.pug
