doctype html
html
  - const pageTitle = "Edit Profile"
  include includes/head.pug
  body
    include includes/navbar.pug

    div.container
      h1.text-center= pageTitle
      hr
      if !username
        div.alert.alert-danger(role="alert")
          | You are not logged in!
      else

        style.
          .icon-prepend {
            width: 40px;
            text-align: center;
          }

        div.row
          div.col-md-8.offset-md-2
            form(action="/edit-profile" method="POST" class="text-center")

              div.form-group
                div.input-group
                  div.input-group-prepend
                    span.input-group-text.icon-prepend
                      i.fas.fa-user
                  input#bioInput.form-control(type="text" name="bio" value=profile.bio placeholder="Enter your bio")

              div.form-group
                div.input-group
                  div.input-group-prepend
                    span.input-group-text.icon-prepend
                      i.fas.fa-envelope
                  input#emailInput.form-control(type="email" name="email" value=profile.email placeholder="Enter your email")

              div.form-group
                div.input-group
                  div.input-group-prepend
                    span.input-group-text.icon-prepend
                      i.fas.fa-map-marker-alt
                  input#locationInput.form-control(type="text" name="location" value=profile.location placeholder="Enter your location")

              div.form-group
                div.input-group
                  div.input-group-prepend
                    span.input-group-text.icon-prepend
                      i.fas.fa-image
                  input#avatarInput.form-control(type="text" name="avatar" value=profile.avatar placeholder="Enter the URL of your avatar")

              div.form-group
                div.input-group
                  div.input-group-prepend
                    span.input-group-text.icon-prepend
                      i.fas.fa-gamepad
                  input#mcUuidInput.form-control(type="text" name="mcUuid" value=profile.mcUuid placeholder="Enter your Minecraft UUID")

              // Submit button
              button.btn.btn-primary(type="submit", style="margin-right: 10px;") Save Changes
              a.btn.btn-secondary(href='/user/update-password') Update Password

      script(src="/public/js/profile-edit.js")
      // include includes/footer.pug
      include includes/scripts.pug
